{% extends "base.html" %}
{% block content %}
{% include "_admin_header.html" %}

<h1 class="h4 mb-3">Services</h1>
<table class="table table-striped table-bordered align-middle">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Time</th>
    <th>Pickup</th>
    <th>Dropoff</th>
    <th>Pax</th>
    <th>Subclass</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for item in services %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.time }}</td>
    <td>{{ item.pickup_address }}</td>
    <td>{{ item.dropoff_address }}</td>
    <td>{{ item.paxname }}</td>
    <td>{{ item.subclass }}</td>
    <td><a class="btn btn-sm btn-outline-primary" href="/admin/services/{{ item.id }}">Edit</a></td>
  </tr>
  {% else %}
  <tr>
    <td colspan="8">No data</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

